@font-face {
  font-family: "FFF";
  src: url("./uploads/fonts/FFF_Tusj.ttf");
}

.App {
  /* text-align: center; */
  /* filter: brightness(50%); */
  /* min-height: 20vh; */
  min-height: 100vh;
}

.App-header {
  /* height: 20%; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  }

  .App-header .team, .pension, .adoption, .sponsor, .volunteer, .donation {
    color: beige;
    text-decoration: none;
    background-color: #8ead76;
    margin: 10px;
    padding: 10px 20px 10px 20px;
  }

  .home {
    padding: 10px 20px 10px 0px;

  }

.App-logo {
  width: 300px;
  vertical-align: middle;
  }


  .App-infos {
    margin-top: 20px;
    background-image: url("uploads/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
  }

  .App-infos h1 {
    padding: 20px;
    font-size: 3rem;
    font-family: "FFF";
    font-weight: 500;
    
  }

  .App-infos a {
    
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 20px;
  }

  .address, .tel {
    color: white;
    font-size: 1.5rem;
  }
    .App-footer {
      border: red 2px solid;
  }

  .map{
    height: 100vh;
    width: 400px;
  }

