@font-face {
  font-family: "FFF";
  src: url("./uploads/fonts/FFF_Tusj.ttf");
}

.App {
  /* text-align: center; */
  /* filter: brightness(50%); */
  /* min-height: 20vh; */
  min-height: 100vh;
}

  .App-infos {
    margin-top: 20px;
    background-image: url("uploads/fond.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
  }

  .App-infos h1 {
    padding: 20px;
    font-size: 3rem;
    font-family: "FFF";
    font-weight: 500;
    
  }

  .App-infos a {
    
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 20px;
  }

  .address, .tel {
    color: white;
    font-size: 1.5rem;
  }
  .map {
    width: 30%;
    height: 500px;
    text-align: center;
    margin-bottom: 10px;
  }





