.App-footer {
/* height: 75px; */
padding: 10px;
margin-top: 10px;
display: flex;
justify-content: space-evenly;
font-size: 1.2em;
align-items: center;
/* background-color: #8ead76; */
background-color: white;
}

.fb, .contact{
    width: 50px;
}

.mentions {
    color: #8ead76;
    /* color: white; */
    text-decoration: none;

}
